.pagination {
    display: flex;

    & a {
        width: 40px;
        height: 40px;
        background: #E4E4E4;
        border-radius: 50px;
        color: #424242;
        font-weight: 500;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        cursor: pointer;

        &:hover{
            color: #FFF;
            background: #E56F54;

            & svg {
                fill: #FFF;
            }
        }

        & svg {
            fill: #424242;
        }
    }

    & li {
        display: inline-flex;

        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    :global {
        .selected a {
            color: #FFF;
            background: #E56F54;
            pointer-events: none;
        }
        
        .disabled {
            pointer-events: none;
        }
    }
}