.topWrapper {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width:475px) {

    .topWrapper {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

        & h1 {
            margin-bottom: 40px;
        }
    }
}