.product {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 70px;

    & img {
        margin-bottom: 20px;
    }
}

.title {
    color: #424242;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
    line-height: 24px;

    &:hover {
        color: #E56F54;
    }
}

.variables {
    background: #FBFBFB;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0 -5px 20px;

    & p {
        background: #E4E4E4;
        border-radius: 20px;
        cursor: pointer;
        padding: 6px;
        text-align: center;
        flex: 1 0 auto;
        margin: 0 5px;

        &:hover,
        &.active {
            color: #FFF;
            background: #E56F54;
        }
    }
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p {
        font-weight: 500;
        line-height: 25px;
        color: #E56F54;
    }

    & button {
        display: flex;
        align-items: center;

        &:hover span {
            color: #E56F54;
            background-color: #FFF;
        }

        & span {
            margin-left: 5px;
            color: #FFF;
            background: #E56F54;
            border-radius: 50px;
            width: 19px;
            height: 19px;
            display: block;
            text-align: center;
            font-size: 12px;
            line-height: 19px;
        }
    }
}