* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #424242;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5em;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #E56F54;

    &:hover {
        color: #424242;
    }
}

button {
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 20px;
    color: #E56F54;
    background: #FFFFFF;
    border: 1px solid #E56F54;
    border-radius: 40px;

    &:hover {
        color: #FFF;
        background: #E56F54;
    }
}

a,
a:hover,
button,
button:hover,
svg,
svg:hover,
span,
span:hover,
li,
li:hover,
p,
p:hover {
    transition: all 0.3s ease;
}

input,
textarea {
    padding: 13px 58px 13px 20px;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ccc;
    width: 100%;

    &::placeholder {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #ccc;
        opacity: 1;
    }

    &:focus {
        outline: none;
        border: 1px solid #424242;
        color: #424242;
    }
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

textarea {
    min-height: 300px;
    resize: none;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    flex: 1 0 auto;
    padding: 70px 0 100px;
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 30px;
}

.title {
    font-size: 64px;
    line-height: 1.2em;
}

.btn {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #E56F54;
    padding: 15px 45px;
    background: #FFFFFF;
    border: 1px solid #E56F54;
    border-radius: 40px;

    &:hover {
        color: #FFF;
        background: #E56F54;
    }
}

@media(max-width:1024px) {

    .title {
        font-size: 48px;
    }

}

@media(max-width:767px) {

    .container {
        padding: 0 15px;
    }

    .title {
        font-size: 36px;
    }

    .main {
        padding: 60px 0;
    }

}