.content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 130px;
}

.left {
    width: 50%;
    padding-right: 15px;
}

.right {
    width: 50%;
    padding-left: 85px;

    & > *:not(:last-child){
        margin-bottom: 40px;
    }
}

.title {
    font-size: 36px;
    line-height: 42px;
}

.priceBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #E56F54;
}

.variables {
    max-width: 295px;
    width: 100%;
}

.desc {
    line-height: 30px;
}

.addToCart {

    & button {
        padding: 17px 30px;
        width: 100%;
        font-size: 24px;
        line-height: 32px;
        justify-content: center;

        & span {
            margin-left: 12px;
            width: 32px;
            height: 32px;
            font-size: 16px;
            line-height: 32px;
        }
    }
}

.properties {

    & li {
        line-height: 30px;
    }
}

@media(max-width:1200px){

    .right {
        padding-left: 15px;
    }
}

@media(max-width:1024px){

    .right {

        & > *:not(:last-child){
            margin-bottom: 20px;
        }
    }

    .title {
        font-size: 32px;
        line-height: 38px;
    }

    .priceBox {
        flex-wrap: wrap;
    }

    .price {
        width: 100%;
        font-size: 32px;
        line-height: 38px;
    }

    .variables {
        max-width: 100%;
        margin-top: 20px;
    }

    .desc {
        font-size: 16px;
        line-height: 24px;
    }

    .addToCart {

        & button {
            padding: 12px 30px;
            width: 100%;
            font-size: 20px;
            line-height: 28px;

            & span {
                margin-left: 10px;
                width: 28px;
                height: 28px;
                font-size: 14px;
                line-height: 28px;
            }
        }
    }

    .properties {

        & li {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

@media(max-width:767px){

    .left {
        padding: 0;
        margin: 0 auto 30px;
        max-width: 540px;
        width: 100%;
    }

    .right {
        width: 100%;
        padding: 0;
    }
}