.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-top: 1px solid #424242;
}

.left {
    display: flex;
    align-items: center;
    width: 50%;

    & img {
        max-width: 188px;
        max-height: 188px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.info {
    margin-left: 45px;

    & h3 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    & p {
        font-size: 18px;
    }
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.count {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 150px;

    & span {
        margin: 0 20px;
        font-weight: 700;
    }

    & button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #E56F54;
        position: relative;
        border: none;

        &:hover {
            background-color: #424242;
        }

        & svg {
            fill: #FFF;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }
}

.price {
    margin: 0 60px;
    font-weight: 700;
    color: #E56F54;
    width: 150px;
    text-align: center;
}

.delete {
    margin-top: 4px;

    & svg {
        fill: #424242;
        cursor: pointer;

        &:hover {
            fill: #E56F54;
        }
    }
}

@media(max-width:1024px) {

    .left {

        & img {
            max-width: 120px;
            max-height: 120px;
        }
    }

    .info {
        margin-left: 20px;

        & h3 {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 10px;
        }
    }

    .price {
        margin: 0px;
    }
}

@media(max-width:767px) {

    .product {
        flex-wrap: wrap;
    }

    .left {
        width: 100%;
        margin-bottom: 20px;
    }

    .right {
        width: 100%;
    }
}

@media(max-width:425px){

    .right{
        justify-content: space-between;
    }

    .count {
        justify-content: flex-start;

        & span{
            margin: 0 10px;
        }
    }
}